<div class="container-fluid mt-2 p-2 shadow-sm">
  <div class="d-flex justify-content-between bd-highlight mb-3">
    <div class="logo p-2 bd-highlight ms-5">ClearTrip</div>
    <div class="p-2 bd-highlight">
      <button class="btn btn-primary me-5">LogIn/SignUp</button>
    </div>
  </div>

  <div class="container h-50 w-75">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100 d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link d-flex flex-column" routerLinkActive="active" routerLink="/hotels">
                <img
                  src="https://i.pinimg.com/736x/10/ff/aa/10ffaadab6bc3c4c1dd4a3e44bf6d5ad.jpg"
                  alt=""
                  width="50"
                  height="50"
                />
                <span>Hotels</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column" routerLinkActive="active" routerLink="/flights">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlUNYXeftFjY6fhpNTJ7srbGpFEYy8kGOM8HTKIxxDTrglfCBwGuGroQmx2Ct1qBxTlJo&usqp=CAU"
                  alt=""
                  width="50"
                  height="50"
                />
                <span>Flights</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo8iAiPEVGdWRd2T2ASm76OE43hER7cPyAyBp5kxKDToK7IQkHQNYu9eiIiCNNfKoiZ5g&usqp=CAU"
                  alt=""
                  width="50"
                  height="50"
                />
                <span>Trains</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column">
                <img src="https://cdn.vectorstock.com/i/1000v/40/49/black-and-white-taxi-logo-modern-car-vector-31114049.jpg" alt="" width="50" height="50">
               <span>Cabs</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Bus-logo.svg/2048px-Bus-logo.svg.png" alt="" width="50" height="50">
                <span>Buses</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column">
                <img src="https://static.vecteezy.com/system/resources/previews/006/545/884/non_2x/simple-home-logo-design-vector.jpg" alt="" width="50" height="50">
               <span>Home Stays</span> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-flex flex-column">
                <img src="https://images-platform.99static.com/RyWp4bBYuwER2KmM9e6wnq3tDFo=/500x500/top/smart/99designs-contests-attachments/10/10078/attachment_10078339" alt="" width="50" height="50">
                <span>Holiday Packages</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
